h1 {
  font-weight:normal;
  font-family: Verdana;
  font-size: 50px;
  color: white;
  text-align: center;
}
h4 a {
  font-size: 16px;
  font-family: Verdana;
  color: aquamarine;
  font-weight: normal;

}
body {
  background-color: black;
  text-align: center;
}
h2 {
  font-family: verdana;
  font-weight: 300;
  font-size: 42px;
  color: white;
}
p {
  font-family: Verdana;
  font-size: 21px;
  color: Gray;
}
h3 {
  color: gray;
  text-align: right;
  font-family: verdana;
}
